<div class="banner">
  <div class="container banner-content">
    <h1>New List</h1>
  </div>
</div>

<div class="list-form">
  <%= simple_form_for(@list) do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Create a list", class: "btn custom-btn" %>
  <% end %>
</div>
