<h1>Add a movie to your favorite list</h1>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.submit "Add to your list", class: "btn btn-primary" %>
<% end %>
